<!DOCTYPE html>
<html>
    <head>

    </head>
    <body>
{{template "header" .}}
<div class="article-list singlepage">
    
    <div class="article singlepage">
        <div class="tooltip">
            
            <div class="date">
                
				
				{{if .Update}}
                    <div class="day">{{.Update}}</div>
                    {{else}}
                    <div class="day">{{.Date}}</div>
                    {{end}}

            </div>
            
    		
            <div class="article-title">
                <a pjax href="">{{.Title}}</a>
                <div class="article-meta">
                    <span class="mdi mdi-account-edit"></span> {{.Author.Name}}
                    <span class="mdi mdi-tag"></span>
                </div>
            </div>

            <div class="article-content" >
                            {{.Content}}
            </div>
            <div class="article-comment">
                
            </div>
            
        </div>
    </div>
</div>
        {{template "footer" .}}
</body>
</html>