{{template "head" .}}
<div class="article-list">
    
    <div class="article">
        <div class="tooltip">
            <div class="date">
                <div class="day">{{.Date}}</div>

            </div>

            <div class="article-mobile-title">
                <a pjax href="{{$.Site.Root}}/{{.Link}}">  </a>
            </div>
            <div class="font-control">
                <span class="mdi mdi-format-annotation-plus"></span>
            </div>
            <div class="go-comment">
                <span class="mdi mdi-comment-outline"></span>
            </div>
            <div class="go-share">
                <span class="mdi mdi-share-variant"></span>
            </div>
            <div class="go-tip">
                <span class="mdi mdi-coin"></span>
            </div>
        </div>
        <div class="article-main">

            <div class="article-content" >
                            {{if .Preview}}{{.Preview}}{{end}}
            </div>
            <div class="article-comment">
                
            </div>
        </div>
    </div>
                    {{if .Prev}}<a class="prev" href="{{.Site.Root}}/{{.Prev}}">{{i18n "prev_page"}}</a>{{end}}
                    {{if ne .Total 1}}<span class="nav">{{.Page}} / {{.Total}}</span>{{end}}
                    {{if .Next}}<a class="next" href="{{.Site.Root}}/{{.Next}}">{{i18n "next_page"}}</a>{{end}}
</div>

{{template "footer" .}}
